body {
  background: #333333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas {
  width: 180px;
  height: 180px;
}
.pixel {
  width: 30px;
  height: 30px;
  float: left;
}
.pixel:nth-child(9)
  {background: #58D68D;
}
.pixel:nth-child(10)
  {background: #58D68D;
}
.pixel:nth-child(14)
  {background: #58D68D;
}
.pixel:nth-child(15)
  {background: #58D68D;
}
.pixel:nth-child(16)
  {background: #58D68D;
}
.pixel:nth-child(17)
  {background: #58D68D;
}
.pixel:nth-child(20)
  {background: #58D68D;
}
.pixel:nth-child(21)
  {background: #58D68D;
}
.pixel:nth-child(22)
  {background: #58D68D;
}
.pixel:nth-child(23)
  {background: #58D68D;
}
.pixel:nth-child(27)
  {background: #58D68D;
}
.pixel:nth-child(28)
  {background: #58D68D;
}
.pixel:nth-child(1)
  {background: #EC12E5;
}
.pixel:nth-child(6)
  {background: #EC12E5;
}
.pixel:nth-child(31)
  {background: #EC12E5;
}
.pixel:nth-child(36)
  {background: #EC12E5;
}
.pixel:nth-child(15)
  {background: #124CDC;
}
.pixel:nth-child(16)
  {background: #124CDC;
}
.pixel:nth-child(21)
  {background: #124CDC;
}
.pixel:nth-child(22)
  {background: #124CDC;
}
